<p id="notice"><%= notice %></p>

<p>
  <b>First Name:</b>
  <%= @applicant.firstname %>
</p>

<p>
  <b>Surname:</b>
  <%= @applicant.lastname %>
</p>

<p>
  <b>Phone Number:</b>
  <%= @applicant.phone_number %>
</p>

<p>
  <b>Email Address:</b>
  <%= @applicant.email %>
</p>

<p>
  <b>Course:</b>
  <%= @applicant.course %>
</p>
